.about-component {
  display: flex;
  gap: 170px;
}

.about-concept {
  width: 601px;
  margin: auto;
}

.about-header {
  font-weight: 700;
  font-size: 44px;
  line-height: 64px;
  color: #2d2d2d;
  margin-bottom: 40px;
}

.about-detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #737373;
  margin-bottom: 15px;
}

.about-sub {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #737373;
  margin-bottom: 96px;
}

.about-rate {
  display: flex;
  /* align-items: center; */
  gap: 96px;
}

.rates {
  font-weight: 700;
  font-size: 44px;
  line-height: 64px;
  text-align: justify;
  color: #2d2d2d;
}

.rates-des {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  color: #db6b97;
}

.about-img {
  width: 664px;
}

@media screen and (max-width: 1440px) {
  .about-component {
    gap: 117px;
  }
}


@media screen and (max-width: 1024px) {
  .about-component {
    gap: 18px;
    width: 98%;
    margin: auto;
  }

  .about-img {
    width: 530px;
  }

  .about-rate {
    gap: 79px;
  }
}

@media screen and (max-width: 1280px) {
  .about-component {
    gap: 45px;
  }

  .about-concept {
    width: 42%;
  }

  .about-rate {
    gap: 64px;
  }
}

@media screen and (max-width: 834px) {
  .about-concept {
    width: 94%;
    margin-top: 80px;
  }

  .about-detail {
    margin-bottom: 32px;
  }

  .about-img {
    display: none;
  }

  .about-rate {
    gap: 155px;
  }
}

@media screen and (max-width: 800px) {
  .about-img {
    display: none;
  }

  .about-concept {
    width: 92%;
    margin-top: 73px;
  }

  .about-detail {
    margin-bottom: 34px;
  }

  .about-rate {
    gap: 127px;
  }
}

@media screen and (max-width: 688px) {
  .about-concept {
    width: 94%;
  }
  .about-header {
    margin-top: 20px;
  }

  .about-img {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .about-rate {
    flex-direction: column;
    gap: 52px;
  }

  .rate-des {
    font-size: 14px;
  }

  .about-concept {
    width: 93%;
  }
}
