.arrow {
  width: 20px;
  height: 10px;
}

.order-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  padding: 12px 97px;
  width: 528px;
  height: 48px;
  border-radius: 8px;
  background: #2d2d2d;
  cursor: pointer;
}

.btn-link {
  text-decoration: none;
  color: #ffffff;
}
.order-container img {
  position: absolute;
  right: 198px;
  width: 18px;
  height: 7.5px;
}

@media screen and (max-width: 1280px) {
  .order-btn {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .order-btn {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .order-btn {
    width: 102%;
  }
}

@media screen and (max-width: 412px) {
  .order-btn {
    width: 103%;
  }
}

@media screen and (max-width: 393px) {
  .order-btn {
    width: 111%;
  }
}

@media screen and (max-width: 375px) {
  .order-btn {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .order-btn {
    width: 117%;
  }
}
