.cart-compound {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  gap: 96px;
  margin: auto;
  margin-top: 64px;
}

.cart-component {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.line {
  position: absolute;
  width: 640px;
  height: 0px;
  left: 580px;
  top: 480px;
  border: 1px solid #d2d2d2;
  transform: rotate(90deg);
}

.header-icons {
  margin-left: -40px;
  font-size: 20px;
  color: black;
}

.cart-header {
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  text-align: center;
  color: #2d2d2d;
}

.header-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #db6b97;
}

.cart-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 48px;
  width: 528px;
  height: 220px;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
}

.totalIcon {
  position: absolute;
  left: 179%;
  right: 3.34%;
  top: 3.33%;
  font-size: 20px;
  bottom: 3.33%;
}

.cart-detail {
  position: relative;
}

.cart-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
}

.name-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.description-contain {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.content-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #2d2d2d;

  padding: 4px 8px;
  gap: 8px;
  width: 60px;
  height: 32px;
  background: #f6f6f6;
  border-radius: 4px;
}

.closePrice {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
  margin-bottom: 16px;
}

.rate span {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #db6b97;
}

.delivery {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  display: flex;
  gap: 8px;
}

.price-container {
  width: 528px;
  height: 566px;
  margin: auto;
}

.price-component {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 16px 24px;
  background: #f6f6f6;
  border-radius: 8px;
  width: 528px;
  height: 72px;
  justify-content: center;
}

.price-content {
  font-size: 16px;
  line-height: 24px;
}

.price-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 16px;
}

.price-container input {
  width: 528px;
  height: 48px;
  background: #f6f6f6;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding-left: 16px;
}

.price-container::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.cart-info {
  position: relative;
  margin-bottom: 40px;
}

.cart-info button {
  position: absolute;
  left: 469px;
  top: 12px;
  border: none;
  cursor: pointer;
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #db6b97;
}

.price-detail-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
  margin-bottom: 32px;
}

@media screen and (max-width: 1440px) {
  .cart-compound {
    width: 85%;
  }

  .line {
    left: 384px;
  }
}

@media screen and (max-width: 1280px) {
  .cart-compound {
    width: 92%;
  }

  .line {
    width: 51%;
    left: 308px;
  }
}

@media screen and (max-width: 1024px) {
  .header-icons {
    margin-left: -8px;
  }
  .cart-compound {
    width: 98%;
    gap: 53px;
    margin: auto;
    margin-top: 64px;
  }

  .cart-component {
    position: relative;
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 11px;
  }

  .line {
    display: none;
  }

  .price-container input {
    width: 410px;
  }

  .price-container {
    width: 40%;
  }

  .price-component {
    width: 103%;
  }

  .price-content {
    font-size: 15px;
  }

  .cart-info label {
    left: 360px;
  }
}

@media screen and (max-width: 834px) {
  .cart-compound {
    flex-direction: column;
  }

  .cart-container {
    width: 90%;
  }

  .cart-content {
    width: 99%;
  }

  .totalIcon {
    left: 275%;
  }

  .price-container {
    width: 90%;
  }

  .price-container input {
    width: 99%;
  }

  .cart-info label {
    left: 614px;
  }
}

@media screen and (max-width: 800px) {
  .cart-compound {
    flex-direction: column;
    width: 107%;
  }

  .cart-container {
    width: 90%;
  }
  .cart-content {
    width: 94%;
  }

  .totalIcon {
    left: 282%;
  }

  .price-container {
    margin-top: 50px;
    width: 81%;
    gap: 90px;
    margin-left: 50px;
  }

  .price-container input {
    width: 104%;
  }

  .cart-info label {
    left: 614px;
  }
}

@media screen and (max-width: 768px) {
  .totalIcon {
    left: 262%;
  }
}

@media screen and (max-width: 688px) {
  .cart-compound {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 90px;
  }

  .line {
    margin: 2px;
    left: 20px;
    top: 744px;
    transform: rotate(0deg);
  }

  .price-container {
    width: 79%;
  }

  .price-container input {
    width: 540px;
  }

  .cart-info label {
    left: 460px;
  }
}

@media screen and (max-width: 414px) {
  .cart-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 96%;
  }

  .cart-content {
    width: 112%;
  }

  .totalIcon {
    left: 100%;
  }

  .price-container {
    width: 93%;
    margin-left: 11px;
  }

  .price-content {
    font-size: 13px;
  }

  .price-container input {
    width: 102%;
  }

  .cart-info label {
    left: 299px;
  }

  .price-detail-component {
    width: 130%;
  }
}

@media screen and (max-width: 412px) {
  .cart-content {
    width: 100%;
    gap: 31px
  }
}

@media screen and (max-width: 375px) {
  .cart-content {
    width: 106%;
  }
  .price-container input {
    width: 100%;
  }

  .price-detail-component {
    width: 122%;
  }
  .cart-content {
    width: 100%;
    gap: 17px
  }
}

@media screen and (max-width: 393px) {
  .price-container {
    width: 99%;
    margin-left: 2px;
  }

  .cart-content {
    width: 102%;
}

}


@media screen and (max-width: 360px){
  .cart-content {
    width: 110%;
    gap: 26px;
}
}