.contact-compound {
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: space-between;
   /* margin: auto; 
   width: 90%;  */
}

.contact-container {
  width: 600px;
  margin: auto;
  margin-top: 200px;
}

.contact-header {
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  color: #2d2d2d;
  margin-bottom: 8px;
}

.contact-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
  margin-bottom: 40px;
  width: 384px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.user-info input {
  background: #f6f6f6;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 16px 12px 16px;
}

.user-info input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

textarea {
  background: #f6f6f6;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 16px 12px 16px;
  height: 125px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.user-info button {
  height: 48px;
  background: #2d2d2d;
  border-radius: 8px;
}

.btn-submit {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.contact-schedule {
  width: 640px;
  height: 473px;
  background-color: #db6b97;
  margin-top: 210px;
}

.schedule-item {
  width: 80%;
  margin: auto;
  margin: 50px;
}

.schedule-item {
  display: flex;
  gap: 24px;
}

.schedule-item img {
  width: 24px;
  height: 24px;
}

.schedule-detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 210px;
  color: #ffffff;
}

.scene {
  position: relative;
  display: flex;
  gap: 48px;
}

.boxes {
  position: absolute;
  right: 0.08%;
  width: 184px;
  height: 230px;
  bottom: 0.21%;
}
