* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #db6b97;
  width: 832px;
  height: 100vh;
}

.logo-img {
  position: absolute;
  top: 40px;
  left: 56px;
  width: 96px;
  height: 81px;
}

.background-img {
  position: absolute;
  width: 904px;
  height: 544px;

  top: 463px;
  left: 1px;
}

.main {
  padding: 0;
  position: absolute;
  width: 360px;
  height: 381px;
  left: 1194px;
  top: 327px;
}

.headers {
  font-size: 23px;
  font-weight: 600;
  font-style: normal;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #2d2d2d;
  font-family: "Poppins";
  margin-bottom: 32px;
}

.main form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
  height: 120px;
}

.main input {
  padding: 12px 23px;
  border-radius: 9px;
  border: 1px solid #737373;
  font-weight: 400;
  font-size: 18px;
}

form input::placeholder {
  position: relative;
  font-family: "Poppins", 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #737373;
}
.section-form {
  position: relative;
}

.icons {
  position: absolute;
  right: 10px;
  top: 94px;
  color: #737373;
  cursor: pointer;
}

.form-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 106px;
}

.title-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.range-icon {
  width: 40px;
  height: 20px;
}

.title-box label {
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2d2d2d;

  order: 1;
  flex-grow: 1;
}

.description {
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #2d2d2d;

  order: 1;
  flex-grow: 1;
}

.btn {
  width: 360px;
  height: 48px;
  flex-grow: 0;
  flex: none;
  background: #2d2d2d;
  border-radius: 8px;
  cursor: pointer;

  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border: none;
}

.box {
  margin-top: 32px;
  border: 1px solid #d2d2d2;
  height: 1px;
}

.component {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.component .detail {
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  width: 236px;
}

.component .detail span {
  color: #db6b97;
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-left: 8px;
}

.component .detail a {
  text-decoration: none;
}

.compound-title {
  position: relative;
  background-color: #db6b97;
  width: 40px;
  height: 20px;
  border-radius: 38.5px;
  cursor: pointer;
  transition: 0.2s;
}

.compound-box::before {
  position: absolute;
  left: 20px;
  top: 1px;
  content: "";
  background: white;
  width: 17px;
  height: 17px;
  border-radius: 22px;
  transition: 0.2s;
}

.compound-title input:checked + .compound-box {
  background-color: green;
}

.compound-title input:checked + .compound-box::before {
  transform: translateX(100px);
}

.compound-title input {
  display: none;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 50%;
    height: 112vh;
  }

  .background-img {
    width: 55%;
  }

  .main {
    width: 37%;
    left: 894px;
  }

  .main form {
    gap: 34px;
    width: 99%;
  }

  .icons {
    right: 20px;
    top: 104px;
  }

  .form-sub {
    gap: 272px;
  }

  .btn {
    width: 100%;
  }

  .box {
    margin-top: 1px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 54%;
  }

  .background-img {
    position: absolute;
    width: 59%;
    height: 401px;
    top: 494px;
  }

  .main {
    width: 42%;
    left: 728px;
    top: 296px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    background: #db6b97;
    width: 54%;
    height: 100vh;
  }

  .background-img {
    position: absolute;
    width: 59%;
    height: 457px;
    top: 343px;
    left: 1px;
  }

  .main {
    width: 40%;
    left: 601px;
  }
  .form-sub {
    gap: 91px;
  }

  .title-box label {
    font-size: 13px;
  }

  .description {
    font-size: 13px;
  }

  .btn {
    font-size: 18px;
  }

  .box {
    margin-top: 9px;
  }

  .icons {
    left: 375px;
  }
}

@media screen and (max-width: 834px) {
  .logo-img {
    background-color: #db6b97;
    border-radius: 50px;
  }

  .background-img {
    display: none;
  }

  .container {
    margin: auto;
    background-color: white;
  }

  .main {
    width: 80%;
    left: 10%;
  }

  .icons {
    left: 615px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    background-color: white;
  }

  .logo-img {
    background-color: #db6b97;
    border-radius: 50px;
  }

  .background-img {
    display: none;
  }

  .main {
    width: 90%;
    left: 30px;
  }

  .icons {
    left: 650px;
  }

  .form-sub {
    gap: 440px;
  }
}

@media screen and (max-width: 768px) {
  .form-sub {
    gap: 412px;
  }
}

@media screen and (max-width: 688px) {
  .logo-img {
    background-color: #db6b97;
    border-radius: 50px;
  }

  .background-img {
    display: none;
  }

  .container {
    margin: auto;
    background-color: white;
  }

  .main {
    width: 80%;
    left: 10%;
  }
}

@media only screen and (max-width: 414px) {
  .main {
    left: 9%;
    width: 90%;
  }

  .icons {
    left: 328px;
  }

  .form-sub {
    gap: 107px;
  }
}

@media screen and (max-width: 412px) {
  .main {
    left: 2%;
    width: 99%;
  }

  .icons {
    left: 349px;
  }
}

@media screen and (max-width: 393px) {
  .form-sub {
    gap: 94px;
  }

  .icons {
    left: 320px;
  }
}

@media screen and (max-width: 375px) {
  .form-sub {
    gap: 80px;
  }
  .icons {
    left: 320px;
  }
}

@media screen and (max-width: 360px) {
  .icons {
    left: 305px;
  }

  .form-sub {
    gap: 64px;
  }
}
